{$CADDY_LISTMONK_DOMAIN_URL} {
	reverse_proxy listmonk_app:9000
  tls {
    dns cloudflare {$CADDY_CLOUDFLARE_ZONE_DNS_API_TOKEN}
  }
}

{$CADDY_FORUM_DOMAIN_URL} {
	reverse_proxy nodebb_app:4567
  tls {
    dns cloudflare {$CADDY_CLOUDFLARE_ZONE_DNS_API_TOKEN}
  }
}

{$CADDY_MAILU_DOMAIN_URL} {
	reverse_proxy mailu_front:8080
  tls {
    dns cloudflare {$CADDY_CLOUDFLARE_ZONE_DNS_API_TOKEN}
  }
}